# Build outputs
dist/
build/
coverage/

# Dependencies
node_modules/
.claude/
.github/
.husky/
.next/
.specify/
.vscode/

spacetime_bindings/
specs/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml